* {
  box-sizing: border-box;
}

body {
  font-family: "karla", sans-serif;
  margin: 0;
}

main {
  padding: 40px;
}

.form--button {
  width: 100%;
  height: 70px;
  margin-top: 200px;
  /* margin-left: 50px; */
  /* margin-right: 50px; */
  padding: 40px 40px;
  grid-column: 1 / -1;
  font-family: "karla", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  border-radius: 10px;
  background: linear-gradient(90deg, #711F8D 1.18%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;

}

.list--item {
  /* display:inline-flexbox; */
  margin-top: 20px;
  margin-left: 150px;
  font-size: 2rem;
  font-weight: 300;

}
